<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <style>
        .container{
            text-align:center;
            font-family: 'Noto Sans JP', sans-serif;

        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Welcome to Movies API</h3>
        <h4>Route
        </h4>
        <p>
            <br>
            <br>Get all data: /movies
            <br>
            <br>Get data by genre: /movies/:genre
            <br>
            <br>Post new movie: /movies
            <br>
            <br>Update movie in the list: /movies/:id
            <br>
            <br>Delete movie in the list: /movies/:id
        </p>
    </div>
</body>
</html>